/* .main-container 클래스는 HTML에 사용되지 않으므로 제거했습니다. */

/* 고정된 헤더 스타일 */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

/* 고정된 하단 버튼 스타일 */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
}

/* 컨테이너 스타일 */
.container-custom {
    padding: 0 15px;
    margin-bottom: 60px; /* 테이블과 하단 버튼 간의 공간을 확보하기 위해 */
}

/* 테이블 컨테이너 스타일 */
.table-container {
    overflow-x: auto;
    margin-top: 100px; /* .fixed-header의 높이만큼 여백 추가 */
}

/* 테이블 헤더 스타일 */
.table-header {
    font-weight: bolder;
    background: rgb(153, 152, 152);
}

/* 중앙 정렬 스타일 */
.text-center-action {
    text-align: center;
}

/* 열 스타일 */
.col-id {
    width: 50px;
}

.col-role {
    width: 100px;
}

.column {
    max-width: 200px;
    overflow-x: auto;
    white-space: nowrap;
}

.column-content {
    display: inline-block;
    padding: 0 5px;
}

/* 테이블 스타일 */
.table {
    table-layout: fixed;
}

.input-group {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}


#url-input {
    flex-grow: 1; /* 입력 필드가 가능한 넓게 차지하도록 설정 */
}

.clear-container {
    margin-left: auto; /* CLEAR 버튼을 오른쪽으로 밀어냄 */
}

#record-btn {
    white-space: nowrap; /* RECORD 버튼 내 텍스트가 줄바꿈되지 않도록 설정 */
}

#clear-btn {
    white-space: nowrap; /* CLEAR 버튼 내 텍스트가 줄바꿈되지 않도록 설정 */
}

#test-title{
    width: 50%;
    
}